.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(0, 0, 0) 1% , rgb(122, 9, 142) 12% , rgb(204, 110, 221) 21% , rgb(131, 113, 136) 23% , rgb(187, 168, 85) 24% , rgb(182, 136, 212) 29% , rgb(181, 70, 18) 33% , rgb(68, 216, 122) 39% , rgb(223, 54, 18) 45% , rgb(148, 143, 182) 48% , rgb(106, 138, 66) 50% , rgb(202, 72, 98) 56% , rgb(61, 44, 180) 64% , rgb(96, 106, 27) 65% , rgb(26, 132, 246) 78% , rgb(0, 0, 0) 80% , rgb(201, 253, 215) 95%);
background: -o-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(122, 9, 142) 12% , rgb(204, 110, 221) 21% , rgb(131, 113, 136) 23% , rgb(187, 168, 85) 24% , rgb(182, 136, 212) 29% , rgb(181, 70, 18) 33% , rgb(68, 216, 122) 39% , rgb(223, 54, 18) 45% , rgb(148, 143, 182) 48% , rgb(106, 138, 66) 50% , rgb(202, 72, 98) 56% , rgb(61, 44, 180) 64% , rgb(96, 106, 27) 65% , rgb(26, 132, 246) 78% , rgb(0, 0, 0) 80% , rgb(201, 253, 215) 95%);
background: -ms-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(122, 9, 142) 12% , rgb(204, 110, 221) 21% , rgb(131, 113, 136) 23% , rgb(187, 168, 85) 24% , rgb(182, 136, 212) 29% , rgb(181, 70, 18) 33% , rgb(68, 216, 122) 39% , rgb(223, 54, 18) 45% , rgb(148, 143, 182) 48% , rgb(106, 138, 66) 50% , rgb(202, 72, 98) 56% , rgb(61, 44, 180) 64% , rgb(96, 106, 27) 65% , rgb(26, 132, 246) 78% , rgb(0, 0, 0) 80% , rgb(201, 253, 215) 95%);
background: -moz-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(122, 9, 142) 12% , rgb(204, 110, 221) 21% , rgb(131, 113, 136) 23% , rgb(187, 168, 85) 24% , rgb(182, 136, 212) 29% , rgb(181, 70, 18) 33% , rgb(68, 216, 122) 39% , rgb(223, 54, 18) 45% , rgb(148, 143, 182) 48% , rgb(106, 138, 66) 50% , rgb(202, 72, 98) 56% , rgb(61, 44, 180) 64% , rgb(96, 106, 27) 65% , rgb(26, 132, 246) 78% , rgb(0, 0, 0) 80% , rgb(201, 253, 215) 95%);
background: -webkit-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(122, 9, 142) 12% , rgb(204, 110, 221) 21% , rgb(131, 113, 136) 23% , rgb(187, 168, 85) 24% , rgb(182, 136, 212) 29% , rgb(181, 70, 18) 33% , rgb(68, 216, 122) 39% , rgb(223, 54, 18) 45% , rgb(148, 143, 182) 48% , rgb(106, 138, 66) 50% , rgb(202, 72, 98) 56% , rgb(61, 44, 180) 64% , rgb(96, 106, 27) 65% , rgb(26, 132, 246) 78% , rgb(0, 0, 0) 80% , rgb(201, 253, 215) 95%);






}