.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(190, 145, 156) , rgb(0, 0, 0) 1% , rgb(58, 39, 117) 8% , rgb(68, 138, 0) 9% , rgb(166, 242, 238) 16% , rgb(50, 249, 235) 23% , rgb(51, 111, 155) 26% , rgb(228, 120, 49) 44% , rgb(151, 182, 139) 61% , rgb(54, 61, 177) 74% , rgb(0, 0, 0) 80% , rgb(155, 19, 232) 99%);
background: -o-linear-gradient(left , rgb(190, 145, 156) , rgb(0, 0, 0) 1% , rgb(58, 39, 117) 8% , rgb(68, 138, 0) 9% , rgb(166, 242, 238) 16% , rgb(50, 249, 235) 23% , rgb(51, 111, 155) 26% , rgb(228, 120, 49) 44% , rgb(151, 182, 139) 61% , rgb(54, 61, 177) 74% , rgb(0, 0, 0) 80% , rgb(155, 19, 232) 99%);
background: -ms-linear-gradient(left , rgb(190, 145, 156) , rgb(0, 0, 0) 1% , rgb(58, 39, 117) 8% , rgb(68, 138, 0) 9% , rgb(166, 242, 238) 16% , rgb(50, 249, 235) 23% , rgb(51, 111, 155) 26% , rgb(228, 120, 49) 44% , rgb(151, 182, 139) 61% , rgb(54, 61, 177) 74% , rgb(0, 0, 0) 80% , rgb(155, 19, 232) 99%);
background: -moz-linear-gradient(left , rgb(190, 145, 156) , rgb(0, 0, 0) 1% , rgb(58, 39, 117) 8% , rgb(68, 138, 0) 9% , rgb(166, 242, 238) 16% , rgb(50, 249, 235) 23% , rgb(51, 111, 155) 26% , rgb(228, 120, 49) 44% , rgb(151, 182, 139) 61% , rgb(54, 61, 177) 74% , rgb(0, 0, 0) 80% , rgb(155, 19, 232) 99%);
background: -webkit-linear-gradient(left , rgb(190, 145, 156) , rgb(0, 0, 0) 1% , rgb(58, 39, 117) 8% , rgb(68, 138, 0) 9% , rgb(166, 242, 238) 16% , rgb(50, 249, 235) 23% , rgb(51, 111, 155) 26% , rgb(228, 120, 49) 44% , rgb(151, 182, 139) 61% , rgb(54, 61, 177) 74% , rgb(0, 0, 0) 80% , rgb(155, 19, 232) 99%);






}