.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(0, 0, 0) 1% , rgb(118, 99, 172) 14% , rgb(195, 200, 122) 15% , rgb(147, 16, 91) 19% , rgb(62, 145, 111) 25% , rgb(93, 62, 206) 27% , rgb(156, 102, 234) 33% , rgb(229, 180, 204) 37% , rgb(105, 209, 71) 47% , rgb(4, 49, 107) 72% , rgb(0, 0, 0) 80% , rgb(62, 97, 102) 87% , rgb(197, 223, 32) 93%);
background: -o-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(118, 99, 172) 14% , rgb(195, 200, 122) 15% , rgb(147, 16, 91) 19% , rgb(62, 145, 111) 25% , rgb(93, 62, 206) 27% , rgb(156, 102, 234) 33% , rgb(229, 180, 204) 37% , rgb(105, 209, 71) 47% , rgb(4, 49, 107) 72% , rgb(0, 0, 0) 80% , rgb(62, 97, 102) 87% , rgb(197, 223, 32) 93%);
background: -ms-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(118, 99, 172) 14% , rgb(195, 200, 122) 15% , rgb(147, 16, 91) 19% , rgb(62, 145, 111) 25% , rgb(93, 62, 206) 27% , rgb(156, 102, 234) 33% , rgb(229, 180, 204) 37% , rgb(105, 209, 71) 47% , rgb(4, 49, 107) 72% , rgb(0, 0, 0) 80% , rgb(62, 97, 102) 87% , rgb(197, 223, 32) 93%);
background: -moz-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(118, 99, 172) 14% , rgb(195, 200, 122) 15% , rgb(147, 16, 91) 19% , rgb(62, 145, 111) 25% , rgb(93, 62, 206) 27% , rgb(156, 102, 234) 33% , rgb(229, 180, 204) 37% , rgb(105, 209, 71) 47% , rgb(4, 49, 107) 72% , rgb(0, 0, 0) 80% , rgb(62, 97, 102) 87% , rgb(197, 223, 32) 93%);
background: -webkit-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(118, 99, 172) 14% , rgb(195, 200, 122) 15% , rgb(147, 16, 91) 19% , rgb(62, 145, 111) 25% , rgb(93, 62, 206) 27% , rgb(156, 102, 234) 33% , rgb(229, 180, 204) 37% , rgb(105, 209, 71) 47% , rgb(4, 49, 107) 72% , rgb(0, 0, 0) 80% , rgb(62, 97, 102) 87% , rgb(197, 223, 32) 93%);






}