.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(0, 0, 0) 1% , rgb(32, 215, 165) 11% , rgb(38, 194, 8) 15% , rgb(195, 143, 207) 22% , rgb(0, 165, 78) 26% , rgb(25, 193, 126) 31% , rgb(251, 252, 78) 33% , rgb(84, 15, 77) 35% , rgb(89, 85, 0) 41% , rgb(242, 190, 52) 61% , rgb(124, 236, 177) 64% , rgb(198, 67, 147) 69% , rgb(44, 27, 112) 72% , rgb(0, 0, 0) 80% , rgb(184, 83, 206) 87% , rgb(19, 41, 65) 92% , rgb(30, 9, 134) 94%);
background: -o-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(32, 215, 165) 11% , rgb(38, 194, 8) 15% , rgb(195, 143, 207) 22% , rgb(0, 165, 78) 26% , rgb(25, 193, 126) 31% , rgb(251, 252, 78) 33% , rgb(84, 15, 77) 35% , rgb(89, 85, 0) 41% , rgb(242, 190, 52) 61% , rgb(124, 236, 177) 64% , rgb(198, 67, 147) 69% , rgb(44, 27, 112) 72% , rgb(0, 0, 0) 80% , rgb(184, 83, 206) 87% , rgb(19, 41, 65) 92% , rgb(30, 9, 134) 94%);
background: -ms-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(32, 215, 165) 11% , rgb(38, 194, 8) 15% , rgb(195, 143, 207) 22% , rgb(0, 165, 78) 26% , rgb(25, 193, 126) 31% , rgb(251, 252, 78) 33% , rgb(84, 15, 77) 35% , rgb(89, 85, 0) 41% , rgb(242, 190, 52) 61% , rgb(124, 236, 177) 64% , rgb(198, 67, 147) 69% , rgb(44, 27, 112) 72% , rgb(0, 0, 0) 80% , rgb(184, 83, 206) 87% , rgb(19, 41, 65) 92% , rgb(30, 9, 134) 94%);
background: -moz-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(32, 215, 165) 11% , rgb(38, 194, 8) 15% , rgb(195, 143, 207) 22% , rgb(0, 165, 78) 26% , rgb(25, 193, 126) 31% , rgb(251, 252, 78) 33% , rgb(84, 15, 77) 35% , rgb(89, 85, 0) 41% , rgb(242, 190, 52) 61% , rgb(124, 236, 177) 64% , rgb(198, 67, 147) 69% , rgb(44, 27, 112) 72% , rgb(0, 0, 0) 80% , rgb(184, 83, 206) 87% , rgb(19, 41, 65) 92% , rgb(30, 9, 134) 94%);
background: -webkit-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(32, 215, 165) 11% , rgb(38, 194, 8) 15% , rgb(195, 143, 207) 22% , rgb(0, 165, 78) 26% , rgb(25, 193, 126) 31% , rgb(251, 252, 78) 33% , rgb(84, 15, 77) 35% , rgb(89, 85, 0) 41% , rgb(242, 190, 52) 61% , rgb(124, 236, 177) 64% , rgb(198, 67, 147) 69% , rgb(44, 27, 112) 72% , rgb(0, 0, 0) 80% , rgb(184, 83, 206) 87% , rgb(19, 41, 65) 92% , rgb(30, 9, 134) 94%);






}